* {
    margin: 0;
    padding: 0;
    outline: none;
}

/* body {
    font-family: 'Playfair Display', serif;
    } */

    @font-face {
        font-family: 'Inter var';
        src: url('/fonts/Inter-roman.var.woff2?v=3.18') format('woff2'),
             url('/fonts/Inter-roman.var.woff?v=3.18') format('woff'); /* Fallback for older browsers */
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        font-family: 'Inter var', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        background-color: white;
    }

/* body {
    font-family: 'Open Sans', sans-serif;
    } */